.search-container{
  background-color: aqua;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 15px;
  row-gap: 25px;
}
.content{
  margin: 10px;
  background-color: red;
}

@media only screen and (max-width: 1200px) {
  .search-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .search-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .search-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
  }
}

